* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.row{
    width: 100%;
}

.outbox {
    padding: 5px;
    padding-top: 40px;
}
h2{
    margin-top: 10px;
}
.inbox {
    margin: -1px;
    border: 1px solid black;
    height: 50px;
    width: 40%;
    float: right;
    position: relative;
}

.chik {
    background-color: pink;
    color: black;
    text-justify:;
}

.beef {
    background-color: red;
    color: white;
}

.sushi {
    background-color: yellow;
    color: black;
}


@media (min-width: 992px) { 
    .col-lg-4 {
        background-color: grey; 
        text-align: center;
        min-height: auto;
        margin-bottom:20px;
        float:left;
        border: 1px solid black;
    }
    .box1 {
        width:31.9%;
        margin-right: 20px;
    }
    .box2 {
        width: 31.9%;
        margin-right: 20px;
    }
    .box3 {
        width: 31.9%;
    }
} 
   
@media (max-width: 991.9px) and (min-width: 768px) {
    .col-md-6 {
        border: 1px solid black;
        background-color: grey; 
        text-align: center;
        min-height: auto;
        margin-bottom:20px;
        float:left;
    } 
    .box1 {
        width: 48.7%;
        margin-right:20px;
    }
    .box2 {
        width: 48.7%;
    }
    .box3 {
        width:100%;
        clear: left;
    }
}


@media (max-width: 767.9px) { 
    .col-sm-12 {
        width: 100%;
        border: 1px solid black;
        background-color: grey; 
        text-align: center;
        min-height: auto;
        margin-bottom:20px;
    }
}