* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}
div {
}
.row{

    margin: 30px;

}

.outbox {
    padding: 5px;
    padding-top: 40px;
}
h2{
    margin-top: 10px;
}
.inbox {
    margin: -1px;
    border: 1px solid black;
    height: 50px;
    width: 40%;
    float: right;
    position: relative;
}

.chik {
    background-color: pink;
    color: black;
    text-justify:;
}

.beef {
    background-color: red;
    color: white;
}

.sushi {
    background-color: yellow;
    color: black;
}


@media (min-width: 992px) { 
    .col-lg-4 {
        width: 33.33%;
        background-color: grey; 
        text-align: center;
        min-height: auto;
        margin-bottom:20px;
        float:left;
        border: 1px solid black;

    }
}    
@media (max-width: 991px) and (min-width: 768px) {
    .col-md-6 {
        width: 50%;
        border: 1px solid black;
        background-color: grey; 
        text-align: center;
        min-height: auto;
        margin-bottom:20px;
        float:left;

    } 
    .box3 {
        width:100%;
        clear: left;
    }
}


@media (max-width: 767px) { 
    .col-sm-12 {
        width: 100%;
        border: 1px solid black;
        background-color: grey; 
        text-align: center;
        min-height: auto;
        margin-bottom:20px;
    }
}